<main>
  <mat-card>
    <form class="login-form">
      <mat-card-title>Login</mat-card-title>
      <mat-form-field>
        <input matInput type="email" id="email" name="email" placeholder="Email" [formControl]="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" id="password" name="password" placeholder="Password" [formControl]="password"
               required>
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button color="primary" class="form-btn" (click)="login()">Login</button>
      <button mat-raised-button color="primary" class="form-btn" [routerLink]="'/registration'">Signup</button>
    </div>
  </mat-card>
</main>
