<main>
  <div id="login-container">
    <mat-card class="login-box">
      <form class="login-form">
        <mat-card-title>Login</mat-card-title>
        <mat-form-field>
          <input matInput type="email" id="email" name="email" placeholder="Email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" id="password" name="password" placeholder="Password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card>
  </div>
</main>
