main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

mat-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  max-width: 600px;
  height: 400px;
  border-radius: 10px;
  transition: 200ms;
}

mat-card:hover {
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.3);
}

mat-card-title {
  margin-bottom: 20px;
}

mat-form-field {
  display: block;
  width: 25vw;
  max-width: 360px;
}

.form-btn {
  margin: 7px;
}
