<p>main works!</p>

<main>
  <div id="cards-container">
    <mat-card class="item-card" *ngFor="let obj of productObject">
      <div class="item-image-container">
        <img mat-card-image [src]="'assets/' + obj.image + '.jpg'" alt="Item Image">
      </div>
      <mat-card-content class="card-content">
        <h2 mat-card-title class="title">{{ obj.name }}</h2>
        <!--<div class="card-rating">
          <mat-icon class="material-icons">star</mat-icon>
          <mat-icon class="material-icons">star</mat-icon>
          <mat-icon class="material-icons">star</mat-icon>
          <mat-icon class="material-icons">star</mat-icon>
          <mat-icon class="material-icons">star_half</mat-icon>
          <mat-icon class="material-icons">star_empty</mat-icon>
        </div>-->
        <ngb-rating [max]="5" [(rate)]="obj.rate" [readonly]="true"></ngb-rating>
        <p mat-card-subtitle class="subtitle">{{ obj.price | formatToCurrencyHUF }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</main>
