<span class="loading-indicator" *ngIf="loading">
  <mat-spinner></mat-spinner>
</span>

<main>
  <div id="main-grey-container">
    <div id="title-container">
      <h2 id="title">Your Cart</h2>
    </div>
    <div id="cards-container">
      <mat-card class="cart-item" *ngFor="let contentItem of cart.contentMap | keyvalue">
        <div class="item-image-container">
          <img mat-card-image [src]="contentItem.key.image_url" alt="Product Image">
        </div>
        <div class="product-details">
          <h3>{{ contentItem.key.name }}</h3>
          <ngb-rating [max]="5" [(rate)]="contentItem.key.rate" [readonly]="true"></ngb-rating>
          <p class="product-price">Price: {{ contentItem.key.price | formatToCurrencyHUF }}</p>
          <mat-form-field class="quantity-field">
            <input matInput type="number" [value]="contentItem.value.toString()" [(ngModel)]="contentItem.value">
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeItem(contentItem.key.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>

    <div class="cart-total">
      <p>Total: xy TODO</p> <!--TODO-->
      <button mat-raised-button color="primary">Order</button>
    </div>
  </div>
</main>
