<span class="loading-indicator" *ngIf="loading">
  <mat-spinner></mat-spinner>
</span>

<main>
  <mat-card>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-card-title>Registration</mat-card-title>
      <mat-form-field>
        <input matInput type="email" id="email" name="email" placeholder="Email" formControlName="email" required>
        <mat-error>
          {{ getEmailError() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required (ngModelChange)="checkPasswordsMatch()">
        <mat-error>
          {{ getPasswordError() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password again" [formControl]="rePassword" required (ngModelChange)="checkPasswordsMatch()">
        <mat-error>
          {{ getRePasswordError() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="First name" formControlName="name.firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Last name" formControlName="name.lastName">
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit" color="primary" class="form-btn" [disabled]="!(signUpForm.valid && rePassword.valid)">Signup</button>
        <button mat-raised-button type="button" color="primary" class="form-btn" (click)="goBack()">Back</button>
      </div>
    </form>
  </mat-card>
</main>
